/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* END REGOLE GENERALI */

.container{
  width: 100%;
  height: 80px;
}

.container ul{
  display: flex;
  justify-content: space-around;
  list-style: none;

}

.container ul li a{
  text-decoration: none;
  color: grey;
}

/* END UL GENERALE */

/* START DROPDOWN */
.menu{
  height: 100%;
  position: relative;

}

.menu .dropdown{
  position: absolute;
  width: 100px;
  top: 50px;
  left: 5px;
  display: none;
}





.dropdown.active{
  display: flex;
}




/* * */
